/* Import de la police Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
  background: #fdfdfd;
  line-height: 1.6;

/*Ajustement du bold */
b,
strong {
  font-weight: 600; /* moins gras que le bold par défaut */

}

header {
  text-align: center;
  padding: 3rem 1rem;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  color: black;
}

h1 { font-size: 2.5rem; margin-bottom: 0.3rem; }
h2 { margin-top: 2rem; border-bottom: 2px solid #eee; display: inline-block; }

main {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
}

.mantras p {
  font-family: "Lora", serif;
  font-size: 32px;
}

hr {
  border: none;
  margin-left: 0;
  height: 1px;
  width: 30%;
  background-color: lightgrey;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #ffffff;
  background: #005FC7;
}

/* Lien spécifique au footer */
footer a {
  color: #ffffff;
  text-decoration: underline;
}

/* Lien du footer au survol */
footer a:hover {
  color: lightblue;
}

/* Style pour les liens visités */
a:visited {
  color: royalblue;
}

