/* Import de la police Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap" rel="stylesheet');

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}


body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
  background: #fffcf8;
  line-height: 1.6;

/*Ajustement du bold */
b,
strong {
  font-weight: 600; /* moins gras que le bold par défaut */

}

header {
  text-align: center;
  padding: 3rem 1rem;
  background: #fffcf8;
  border-bottom: 1px solid #DCC4A5;
  color: black;
}

h1 { font-size: 2.5rem; margin-bottom: 0.3rem; }
h2 { margin-top: 2rem; border-bottom: 2px solid #DCC4A5; display: inline-block; }

main {
  max-width: 60%;
  margin: auto;
  padding: 1rem;
}

a {
      color: black;           /* change la couleur du texte */
    }

    a:hover {
      color: #DCC4A5;             /* couleur au survol */
    }

    a:visited {
      color: #74624B;            /* couleur pour les liens visités */
    }

    a:active {
      color: lightcoral;          /* couleur quand on clique */
    }

.hobby-anime {
  display: flex;           /* active Flexbox */
  align-items: center;     /* centre verticalement le GIF et le texte */
  gap: 20px;               /* espace entre le GIF et le texte */
}

.hobby-anime img {
  width: 150px;            /* ajuste la taille du GIF */
  height: auto;
}

/* --- VERSION MOBILE --- */
@media (max-width: 768px) {
  .hobby-anime {
    flex-direction: column-reverse; /* empile les images verticalement */
    align-items: center;    /* centre horizontalement les images */
    gap: 30px;              /* réduit l’espace entre les images */
  }
   .hobby-anime img {
    width: 80%;            /* pleine largeur sur mobile */
    max-width: 500px;       /* limite max pour éviter trop grand sur tablettes */
  }

}

.hobby-img {
  display: flex;           /* active Flexbox */
  align-items: center;     /* centre verticalement le GIF et le texte */
  gap: 20px;               /* espace entre le GIF et le texte */
}

.hobby-img img {
  width: 150px;            /* ajuste la taille du GIF */
  height: auto;
}

/* --- VERSION MOBILE --- */
@media (max-width: 768px) {
  .hobby-img {
    flex-direction: column; /* empile les images verticalement */
    align-items: center;    /* centre horizontalement les images */
    gap: 30px;              /* réduit l’espace entre les images */
  }
   .hobby-img img {
    width: 80%;            /* pleine largeur sur mobile */
    max-width: 500px;       /* limite max pour éviter trop grand sur tablettes */
  }

}

@media (min-width: 769px) {
  .hobbies hr {
    display: none; /* <-- cache la ligne sur desktop */
  }
}

.mantras p {
  font-size: 32px;
}

hr {
  border: none;
  margin-left: 0;
  height: 1px;
  width: 20%;
  background-color: #DCC4A5;
}

.mockup {
  display: flex;            /* 3 images côte à côte */
  flex-direction: column; /* empile verticalement image et légende*/
  gap: 40px;                /* espace entre les images */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;          /* permet de passer à la ligne si trop petit */
}

.mockup img {
  width: 40%;               /* largeur sur desktop */
  height: auto;             /* conserve les proportions */
  display: block;           /* évite les espaces blancs */
}

/* --- VERSION MOBILE --- */
@media (max-width: 768px) {
  .mockup {
    flex-direction: column; /* empile les images verticalement */
    align-items: center;    /* centre horizontalement les images */
    gap: 30px;              /* réduit l’espace entre les images */
  }

  .mockup img {
    width: 100%;            /* pleine largeur sur mobile */
    max-width: 500px;       /* limite max pour éviter trop grand sur tablettes */
  }

}

.oneimg {
  display: flex;            /* 3 images côte à côte */
  flex-direction: column; /* empile verticalement image et légende*/
  gap: 40px;                /* espace entre les images */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;          /* permet de passer à la ligne si trop petit */
}

.oneimg img {
  width: 60%;               /* largeur sur desktop */
  height: auto;             /* conserve les proportions */
  display: block;           /* évite les espaces blancs */
}

/* --- VERSION MOBILE --- */
@media (max-width: 768px) {
  .oneimg {
    flex-direction: column; /* empile les images verticalement */
    align-items: center;    /* centre horizontalement les images */
    gap: 30px;              /* réduit l’espace entre les images */
  }

  .oneimg img {
    width: 100%;            /* pleine largeur sur mobile */
    max-width: 500px;       /* limite max pour éviter trop grand sur tablettes */
  }
}

.prototype {
  width: 60%;                /* largeur sur desktop */
  margin: 0 auto;            /* centre le bloc */
  text-align: center;      /* centre la légende */
}

.prototype video {
  width: 100%;               /* s'adapte au parent */
  height: auto;              /* conserve les proportions */
  aspect-ratio: 16 / 9;      /* réserve l’espace, évite les "sauts" (CLS) */
  display: block;            /* supprime les espaces blancs */
  background: #000;          /* pour éviter les bords blancs avant chargement */
  background-color: white;  /* fond blanc au lieu de noir */
}

.prototype .note {
  margin-top: 20px;       /* espace entre la vidéo et la légende */
}

/* --- VERSION MOBILE --- */
@media (max-width: 768px) {
  .prototype {
    width: 100%;             /* pleine largeur sur mobile */
    align-items: center; 
    padding: 0 10px;         /* petit espace intérieur pour respirer */
  }

  .prototype video {
    width: 100%;
    max-width: 100%;         /* ne déborde jamais */
  }
}

.note{
  font-size: 14px;
  font-style:italic;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #ffffff;
  background: #74624B;
}

/* Lien spécifique au footer */
footer a {
  color: #ffffff;
  text-decoration: none;
}

/* Lien du footer au survol */
footer a:hover {
  color: #DCC4A5;
}

/* Style pour les liens visités */
footer a:visited {
  color: #fffcf8;
}

.languages {
  font-size: 20px;
}

