/* Import de la police Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap" rel="stylesheet');

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}


body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
  background: #fcfbfe;
  line-height: 1.6;

/*Ajustement du bold */
b,
strong {
  font-weight: 600; /* moins gras que le bold par défaut */

}

header {
  text-align: center;
  padding: 1rem 1rem;
  background: #ffffff;
  border-bottom: 0px solid #e5e6e8;
  box-shadow: 0 5px 15px #e5e6e8;
  color: black;
}

h1 { font-size: 2.5rem; margin-bottom: 0.3rem; }
h2 { font-size: 1.7rem; margin-top: 2rem; border-bottom: 0px solid #e5e6e8; display: inline-block;}
h3 { font-size:1.5rem; font-weight: 600;}
.extra-title { font-siez:1.5rem ; font-weight: 500; }

main {
  max-width: 60%;
  margin: auto;
  padding: 1rem;
}

a {
      color: black;           /* change la couleur du texte */
    }

    a:hover {
      color: #7B71A8;             /* couleur au survol */
    }

    a:visited {
      color: black;            /* couleur pour les liens visités */
    }

    a:active {
      color: #7B71A8;          /* couleur quand on clique */
    }


.hobbies a {
color: white;
}

.hobby-img {
  background-color: #7D73AB;
  border-radius: 10rem;
  color: #ffffff;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 80px;
  display: flex;           /* active Flexbox */
  align-items: center;     /* centre verticalement le GIF et le texte */
  margin-bottom: 3rem;        
}

.mind {
  background-color: #7D73AB;
  border-radius: 10rem;
  color: #ffffff;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 80px;
  display: flex;           /* active Flexbox */
  align-items: center;     /* centre verticalement le GIF et le texte */
  margin-bottom: 3rem;  

}

.hobby-anime {
  background-color: #7D73AB;
  border-radius: 10rem;
  color: #ffffff;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 80px;
  display: flex;           /* active Flexbox */
  align-items: center;     /* centre verticalement le GIF et le texte */  
}

.hobby-img img {
  border-radius: 2rem 0 2rem 0;
  padding-right: 2rem;
}

.hobby-anime img {
  width: 150px;            /* ajuste la taille du GIF */
  height: auto;
  border-radius: 2rem 0 2rem 0;
  padding-right: 3rem;
}



/* --- VERSION MOBILE --- */
@media (max-width: 768px) {
  .hobby-anime {
    flex-direction: column-reverse; /* empile les images verticalement */
    align-items: center;    /* centre horizontalement les images */
    gap: 30px;              /* réduit l’espace entre les images */
  }
   .hobby-anime img {
    width: 80%;            /* pleine largeur sur mobile */
    max-width: 500px;       /* limite max pour éviter trop grand sur tablettes */
  }

}

.hobby-img {
  display: flex;           /* active Flexbox */
  align-items: center;     /* centre verticalement le GIF et le texte */
  gap: 20px;               /* espace entre le GIF et le texte */
}

.hobby-img img {
  width: 150px;            /* ajuste la taille du GIF */
  height: auto;
}

/* --- VERSION MOBILE --- */
@media (max-width: 768px) {

  .hobby-img {
    flex-direction: column; /* empile les images verticalement */
    align-items: center;    /* centre horizontalement les images */
    gap: 30px;              /* réduit l’espace entre les images */
  }
   .hide-mobile img {
display:none;
  }


}

@media (min-width: 769px) {
  .hobbies hr {
    display: none; /* <-- cache la ligne sur desktop */
  }
}


.bigmantra {
  font-size: 3rem;
  font-family: Tienne;
  font-style: italic;
}


.mockup {
  display: flex;            /* 3 images côte à côte */
  flex-direction: column; /* empile verticalement image et légende*/
  gap: 50px;                /* espace entre les images */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;          /* permet de passer à la ligne si trop petit */
}

.mockup img {
  width: 90%;               /* largeur sur desktop */
  height: auto;             /* conserve les proportions */
  display: block;           /* évite les espaces blancs */
}

/* --- VERSION MOBILE --- */
@media (max-width: 768px) {
  .mockup {
    flex-direction: column; /* empile les images verticalement */
    align-items: center;    /* centre horizontalement les images */
    gap: 30px;              /* réduit l’espace entre les images */
  }

  .mockup img {
    width: 100%;            /* pleine largeur sur mobile */
    max-width: 500px;       /* limite max pour éviter trop grand sur tablettes */
  }

}

.project{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 15px #e5e6e8;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.project img{
 align-items: center;
}

.twoimg {
  display: flex;            /* 3 images côte à côte */
  flex-direction: column; /* empile verticalement image et légende*/
  gap: 1em;                /* espace entre les images */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;          /* permet de passer à la ligne si trop petit */
}

.twoimg img {
  width: 42%;
  height: auto;             /* conserve les proportions */
  display: block;
}

.oneimg {
  display: flex;            /* 3 images côte à côte */
  flex-direction: column; /* empile verticalement image et légende*/
  gap: 40px;                /* espace entre les images */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;          /* permet de passer à la ligne si trop petit */
}

.oneimg img {
  width: 100%;               /* largeur sur desktop */
  height: auto;             /* conserve les proportions */
  display: block;           /* évite les espaces blancs */
}

.simage {

  height: auto;             /* conserve les proportions */
  display: flex; 
  flex-direction: column;
  padding:10px;
  align-items: center;
}

.simage img{
    width: 50%;
}

.mimage img{
  width: 70%;
  height: auto;             /* conserve les proportions */
  display: block; 
  padding:10px; 
}


  .oneimg {
    flex-direction: column; /* empile les images verticalement */
    align-items: center;    /* centre horizontalement les images */
    gap: 30px;              /* réduit l’espace entre les images */
  }

  .oneimg img {
    width: 100%;            /* pleine largeur sur mobile */
    max-width: 768px;       /* limite max pour éviter trop grand sur tablettes */
  }
}

.prototype {
  width: 100%;                /* largeur sur desktop */
  margin: 0 auto;            /* centre le bloc */
  text-align: padding-left;      /* centre la légende */
}

.prototype video {
  width: 100%;               /* s'adapte au parent */
  height: auto;              /* conserve les proportions */
  aspect-ratio: 16 / 9;      /* réserve l’espace, évite les "sauts" (CLS) */
  display: block;            /* supprime les espaces blancs */
  background: #000;          /* pour éviter les bords blancs avant chargement */
  background-color: white;  /* fond blanc au lieu de noir */
}

.note{
  font-size: 14px;
  font-style:italic;
}

.prototype .note {
  margin-top:10px;       /* espace entre la vidéo et la légende */
}


/* --- VERSION MOBILE --- */

@media (max-width: 768px) {

  .project img{
    display:none;
}

  .prototype {
    width: 100%;             /* pleine largeur sur mobile */
    align-items: center; 
    padding: 0 10px;         /* petit espace intérieur pour respirer */
  }

  .prototype video {
    width: 100%;
    max-width: 100%;         /* ne déborde jamais */
  }
}


footer {
  padding-left: 8rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
  color: black;
  background: #ffffff;
  box-shadow: inset 0 5px 15px #e5e6e8;
}

.contact-info {
  line-height: 70%;
  text-align: padding-right;
}

.signature {
  text-align: center;
}

/* Lien spécifique au footer */
footer a {
  color: black;
}

/* Lien du footer au survol */
footer a:hover {
  color: black;
}

/* Style pour les liens visités */
footer a:visited {
  color: black;
}


